<h1>Create a new task! (and assign it to someone you love)</h1>

<form action="/tasks" method="POST">
  <input type="text" name="title" id="task[title]" placeholder="task">
  <input type="submit">
</form>
