<h3>Sign up as a new Honey-do!</h3>
<form action="/signup" method="POST">
  <input type="text" name="user[username]" placeholder="Username:">
  <input type="text" name="user[email]" placeholder="email:">
  <input type="password" name="user[password]" placeholder="Password:">
  <button type="submit" value="submit">Sign Up</button>
</form>
