<!DOCTYPE html>
<html>
  <head>
    <title>Honey-Do List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/users">Honey-Doers</a></li>
      </ul>

      <%= yield %>

    </div>
  </body>
</html>
